<%- include('../partials/header') %>
<form action="/skills/<%= skill.id %>?_method=PUT" method="POST" autocomplete="off">
    <label>Skill</label>
    <input type="text" name="skill" value="<%= skill.skill %>">
    <label>Completion Status</label>
    <input type="checkbox" name="proficient" <%= skill.proficient ? 'checked' : '' %>>
    <button type="submit">Save Skill</button>
</form>   
<%- include('../partials/footer') %>